@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
    --color-sage-100: #DCDDC9;
    --color-sage-200: #CACBB0;
    --color-sage-300: #C1C2A4;
    --color-almost-white: #F3F3F3;
    --color-green-fill: #789B8A;
    --font-staatliches: "Staatliches";
    --font-sofia: "Sofia Sans Semi Condensed";
}